body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background: #f4f4f4;
}

#budget-form input, button {
  margin: 5px;
  padding: 8px;
}

#transaction-list {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: 20px auto;
}

.income {
  color: green;
}

.expense {
  color: red;
}